*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.red-text{
    color: #DC3545;
}
.gray-text{
    color: gray;
}
.white-text{
    color: white;
}
.center-text{
    text-align: center;
}
.UK{
    color: #DC3545;
    margin-left: 7%;
    font-weight: bolder;
    padding: 10px;
    display: inline-block;
}
.menu-icon{
    margin-right: 7%;
    float: right;
    width: 30px;
    margin-top: 15px;
}
.topBar{
    border-bottom: 1px solid rgba(77, 77, 77, 0.103);
}

.profile{
    display: flex;
    margin-top: 100px;
}
.profile-info{
    margin-left: 7%;
    margin-top: 3%;
    width: 40%;
}
.profile-info p{
    margin: 1% 0;  
}
.profile-info h3{
    margin: 1% 0;
}
.profile-info a{
    background-color: #DC3545;
    color: white;
    text-decoration: none;
    padding: 1%;
    display: inline-block;
    width: 20%;
    text-align: center;
    border-radius: 5px;
}
.profile-dp img{
    width: 100%;
}
.profile-dp{
    margin-left: 60px;
}

/* about me */
.about-me{
    margin-top: 150px;
}
.about-me h1{
    text-align: center;
}
.about-me-flex{
    display: flex;
}
.about-me-info{
    margin-left: 100px;
    width: 42%;
}
.about-me-info h2{
    margin-top: 60px;
    margin-bottom: 10px;
}
.about-me-info p{
    margin-bottom: 50px;
}
.about-me-bottom{
    display: flex;
}
.project{
    width: 33%;
    text-align: center;
}
.claint{
    width: 33%;
    text-align: center;
}
.review{
    width: 33%;
    text-align: center;
}
.about-me-info a{
    background-color: #DC3545;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.what-i-do{
    margin-top: 150px;
}
.what-i-do h1{
    text-align: center;
    margin-bottom: 50px;
}
.do-three{
    display: flex;
}
.do-three div{
    width: 30%;
    box-shadow: 0 0 12px #0000002b;
    border-radius: 3px;
}
.do-three img{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-bottom: 10px;
}
.do-three h3{
    text-align: center;
    margin-bottom: 5px;
}
.do-three p{
    text-align:center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.web-develop{
    margin-left: 100px;
}
.photoshop{
    margin-right: 100px;
}
.left-margin{
    margin-left: 30px;
}



.latest-work{
    margin-top: 150px;
}
.latest-work h1{
    text-align: center;
}
.work-list1{
    display: flex;
    margin-top: 50px;
}
.work-list2{
    display: flex;
}
.thirty-width{
    width: 30%;
}
.thirty-width img{
    width: 100%;
    border: 5px solid white;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.171);
}
.team-section{
    margin-left: 100px;
}
.toogle-table{
    margin-left: 100px;
}
.right-margin{
    margin-right: 100px;
}
.LWork-p-margin{
    margin-bottom: 30px;
    margin-top: 10px;
}



.freelancer-projects{
    margin-top: 150px;
    background-color: #DC3545;
}
.freeLn-p1{
    padding-top: 100px;
    padding-bottom: 20px;
}
#hire-me-btn{
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #DC3545;
    margin-bottom: 60px;
}



.testimonial{
    margin-top: 150px;
}
.testimonial h1{
    margin-bottom: 50px;
}
.testimonial-img{
    display: flex;
}
.testimonial-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 0px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
}
.img-testtt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.testimonial-p1{
    margin-bottom: 10px;
}
.testimonial-p2{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
}



.contact-me-container{
    display: flex;
}
#contact-me-title{
    margin-top: 150px;
    text-align: center;
}
.address{
    width: 47%;
    margin-left: 100px;
    margin-top: 50px;
}
.sms-box{
    width: 60%;
    margin-right: 100px;
}
.contact-h4{
    display: inline;
    vertical-align: bottom;
    margin-left: 3%;
}
.contact-p{
    margin-left: 11.5%;
}

.phone{
    margin-top: 20px;
}
.address-icon{
    margin-top: 20px;
}
.sms-box{
    margin-top: 50px;
}
#inputName{
    width: 40%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}
#inputEmail{
    margin-left: 6.5%;
    width: 40%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}
#inputSub{
    margin-top: 30px;
    width: 91%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}
#inputSMS{
    margin-top: 30px;
    width: 91%;
    height: 120px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    vertical-align: top;
}
#message-btn{
    margin-top: 30px;
    background-color: #DC3545;
    color: white;
    padding:  10px 25px;
    border: 0px;
    border-radius: 5px;
}


.futtet{
    margin-top: 100px;
}
.footer-text{
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}




/* Skill Bar */
.skill-bar{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.sikllBar-container {
    width: 500px; /* Full width */
    background-color: #ddd;
    margin-bottom: 25px; /* Grey background */
}
.skills {
    text-align: right; /* Right-align text */
    padding-top: 2px; /* Add top padding */
    padding-bottom: 2px; /* Add bottom padding */
    color: white; /* White text color */
}

.html {width: 30%; background-color: #DC3545;} /* Green */
.css {width: 50%; background-color: #DC3545;} /* Blue */
.js {width: 80%; background-color: #DC3545;} /* Red */
.php {width: 100%; background-color: #DC3545;} /* Dark Grey */


