*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.red-text{
    color: #DC3545;
}
.gray-text{
    color: gray;
}
.UK{
    color: #DC3545;
    margin-left: 100px;
    font-weight: bolder;
    padding: 10px;
}
.topBar{
    border-bottom: 1px solid rgba(77, 77, 77, 0.103);
}
.profile{
    display: flex;
    margin-top: 100px;
}
.profile-info{
    margin-left: 100px;
    margin-top: 30px;
    width: 40%;
}
.profile-info p{
    margin: 5px 0;
}
.profile-info h3{
    margin: 5px 0;
}
.profile-info a{
    background-color: #DC3545;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.profile-dp img{
    width: 100%;
}
.profile-dp{
    margin-left: 60px;
}
.about-me{
    margin-top: 150px;
}
.about-me h1{
    text-align: center;
}
.about-me-flex{
    display: flex;
}
.about-me-info{
    margin-left: 100px;
    width: 42%;
}
.about-me-info h2{
    margin-top: 60px;
    margin-bottom: 10px;
}
.about-me-info p{
    margin-bottom: 50px;
}
.about-me-bottom{
    display: flex;
}
.project{
    width: 33%;
    text-align: center;
}
.claint{
    width: 33%;
    text-align: center;
}
.review{
    width: 33%;
    text-align: center;
}
.about-me-info a{
    background-color: #DC3545;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.what-i-do{
    margin-top: 150px;
}
.what-i-do h1{
    text-align: center;
    margin-bottom: 50px;
}
.do-three{
    display: flex;
}
.do-three div{
    width: 30%;
    box-shadow: 0 0 12px #0000002b;
    border-radius: 3px;
}
.do-three img{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-bottom: 10px;
}
.do-three h3{
    text-align: center;
    margin-bottom: 5px;
}
.do-three p{
    text-align:center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.web-develop{
    margin-left: 100px;
}
.photoshop{
    margin-right: 100px;
}
.left-margin{
    margin-left: 30px;
}



.lets-work{
    margin-top: 150px;
}
.lets-work h1{
    text-align: center;
}